/* Common properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar */
.top-bar {
  height: 10vh;
  border: 1px solid blue;
}

/* Player area */
.player-content {
  display: flex;
  padding-inline: 3vw;
  justify-content: space-between;
}

/* main */
main {
  width: 60vw;
  border: 1px solid black;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* New Releases carasoul */

section.releases-carasoul {
  display: flex;
  width: 100%;
  border: 1px solid red;
  height: 30vh;
  box-sizing: border-box;
  padding-block: 2%;
}
.release-albums {
  height: 100%;
  border: 0.5px solid violet;
  margin-inline: 1%;
  flex-grow: 1;
}

/* Latest release albums */

.releases {
  margin-top: 1.5rem; /*Set margin accordingly */
}
.latest-releases {
  display: grid;
  width: 90%;
  margin-top: 0.5rem;
  border: 1px solid red;
  height: 30vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
  padding: 0.25rem;
}
/* Card for Each releases */
.releases-songs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "album-art title-name"
    "album-art desc";
  border: 1px solid violet;
  overflow: hidden;
}
.image {
  grid-area: album-art;
  width: 100%;
  height: 100%;
}
.image > img {
  height: 100%;
  width: 100%;
  /* border:1px solid blue */
  object-fit: contain;
}
.album-name {
  align-self: end;
}
.album-date {
  align-self: start;
}
.releases-songs > div {
  width: 100%;
  height: 100%;
}

/* Artists */
.popular-artists {
  margin-top: 2%;
  /* border:1px solid red; */
  width: 100%;
}

.artist-list {
  width: 100%;
  display: flex;
}
.artist-item {
  margin-inline-end: 1%; /*TODO: Think over the padding*/
}
.artist-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Popular Generes */

section.popular-genres {
  margin-top: 5vh;
  border: 1px solid red;
  display: flex;
  height: 15vh;
}

.genre-item {
  border: 1px solid violet;
  flex-grow: 1;
}

/* Stations-icon */
.stations-div {
  width: 10vw;
  position: relative;
}
#yellow {
  margin-block: 1.25vh;
  background-color: yellow;
  width: 9vw;
  height: 12vh;
  left: 6.75px;
  position: relative;
}
#dark-yellow {
  position: absolute;
  width: 8vw;
  background-color: darkgoldenrod;
  height: 13.7vh;
  top: 4px;
  left: 15.5px;
}
#orange {
  position: absolute;
  width: 7vw;
  z-index: 2;
  background-color: orange;
  height: 15vh;
  top: 1px;
  left: 23.5px;
}

/* music themes -2 */
.music-themes-2{
  margin-top: 5vh;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	/* flex-wrap: no-wrap; */
	justify-content: center;
	align-items: center;
}
/* this outer div contains the inner div and the image and text */
.outer-div {
	width: 19.5vw;
	height: 10vw;
	overflow: hidden;
	min-width: 123px;
	min-height: 82px;
	margin: 5px;
	cursor: pointer;
}
/* inner div portion */
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
}
/* divs corresponding to each of the 3 sub sections in the themes section */
/* party */
.music-themes-2 .outer-div:nth-child(1) .inner-div {
	background-image: url("assets/music\ themes\ 2/party.jpg");
}
/* electronic */
.music-themes-2 .outer-div:nth-child(2) .inner-div {
	background-image: url("assets/music\ themes\ 2/electronic.jpg");
}
/* road */
.music-themes-2 .outer-div:nth-child(3) .inner-div {
	background-image: url("assets/music\ themes\ 2/road.jpg");
}
/* hovering actions: the text should be scaled down on hover and the background image should be scaled up at the same time gap */
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.75);
}

/* adjusting inner div properties */
.inner-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.outer-div .inner-div span {
	/* color: white; */
	color: white;
	font-size: 2vw;
}








/* Current playlist */
.playlist-container {
  width: 30vw;
  height: 60vh;
  border: 1px solid black;
}
