/* Common properties */
* {
  margin: 0;
  padding: 0;
}

/* Nav Bar */
.top-bar {
  height: 10vh;
  border: 1px solid blue;
}

/* Player area */
.player-content {
  display: flex;
  padding-inline: 5vw;
  justify-content: space-between;
}

/* main */
main {
  width: 50vw;
  border: 1px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* New Releases carasoul */

section.releases-carasoul {
  display: flex;
  width: 100%;
  border: 1px solid red;
  height: 30vh;
  box-sizing: border-box;
  padding-block: 2%;
}
.release-albums {
  height: 100%;
  border: 0.5px solid violet;
  margin-inline: 1%;
  flex-grow: 1;
}

/* Latest release albums */

.releases {
  margin-top: 1.5rem; /*Set margin accordingly */
}
.latest-releases {
  display: grid;
  width: 90%;
  margin-top: 0.5rem;
  border: 1px solid red;
  height: 35vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
}
/* Card for releases */
.releases-songs {
  display: grid;
  grid-template-areas:
    "album-art title-name"
    "album-art desc";
  border: 1px solid violet;
  height: 100%;
}
.releases-songs > img {
  grid-area: "album-art";
  width: 40%;
  margin-bottom: 0;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid red;
}

.dropdown {
  display: none;
}

/* Current playlist */
.playlist-container {
  width: 35vw;
  height: 60vh;
  border: 1px solid black;
}
