.player-content {
  margin-top: 2rem;
  overflow: auto;
}

.artist-info-container {
  width: 100%;
  border: 1px solid red;
  height: 45vh;
  display: flex;
}
.artist-info-container img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.artist-info-container .artist-desc-container {
  flex-grow: 1;
  height: 100%;
}

.top-songs-container {
  width: 100%;
}
.top-songs-container .song-items {
  width: 100%;
  cursor: pointer;
  display: flex;
  height: 11.25vh;
  margin-block: 0.75rem;
  flex-direction: row;
  box-sizing: border-box;
}
.top-songs-container .song-items .song-num,
.top-songs-container .song-items .album-art,
.top-songs-container .song-items .song-title,
.top-songs-container .song-items .like-marker,
.top-songs-container .song-items .add-to-queue {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-songs-container .song-items .song-num,
.top-songs-container .song-items .like-marker {
  text-align: center;
}
.top-songs-container .song-items .song-num {
  position: relative;
  width: 3vw;
}
.top-songs-container .song-items .song-num .play-icon {
  position: absolute;
  left: 1.1rem;
  display: none;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}
.top-songs-container .song-items .album-art img {
  box-sizing: border-box;
  width: 11.25vh;
  height: 11.25vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-songs-container .song-items .song-title {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  flex-grow: 1;
}
.top-songs-container .song-items .like-marker {
  width: 3vw;
}
.top-songs-container .song-items .add-to-queue {
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
}
.top-songs-container .song-items:hover .song-num span.play-icon {
  display: block;
}
.top-songs-container .song-items:hover .song-num p {
  display: none;
}

.aside-bar .similar-artists-container {
  display: flex;
  height: 55vh;
  flex-direction: column;
  position: relative;
}
.aside-bar .similar-artists-container .playlist-header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-inline: 0.5rem;
  background-color: #0c1027;
  color: white;
  height: 8vh;
  display: flex;
}
.aside-bar .similar-artists-container .playlist-header h2,
.aside-bar .similar-artists-container .playlist-header .queue-type {
  width: 100%;
  display: flex;
  align-items: center;
}
.aside-bar .similar-artists-container .playlist-header .queue-type {
  padding-inline: 0.5rem;
  position: relative;
  justify-content: flex-end;
}
.aside-bar .similar-artists-container .playlist-header .queue-type label {
  cursor: pointer;
}
.aside-bar .similar-artists-container .playlist-header .queue-type h3 {
  margin-right: 1.5rem;
}
.aside-bar .similar-artists-container .playlist-header .queue-type input[type=checkbox] {
  display: none;
}
.aside-bar .similar-artists-container .similar-artists-list {
  padding-block: 0.2rem;
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: 1;
  width: 100%;
  row-gap: 0.5rem;
  /* Song description div */
  /* Extra info */
  /* Dropdown */
  /*Dropdown-icon*/
}
.aside-bar .similar-artists-container .similar-artists-list .releases-songs {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}
.aside-bar .similar-artists-container .similar-artists-list .releases-songs > img {
  grid-area: album-art;
  height: 20vh;
  width: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.aside-bar .similar-artists-container .similar-artists-list .song-desc {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  justify-content: center;
  height: 100%;
  width: 180%;
}
.aside-bar .similar-artists-container .similar-artists-list .extra-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 0.2rem;
}
.aside-bar .similar-artists-container .similar-artists-list .song-len {
  margin-top: 1.5rem;
}
.aside-bar .similar-artists-container .similar-artists-list .dropdown-list {
  position: absolute;
  background-color: darkslateblue;
  left: 60%;
  top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  z-index: 2;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 1px black;
  transition: all ease-in-out 0.3s;
  color: white;
}
.aside-bar .similar-artists-container .similar-artists-list .dropdown-list hr {
  color: white;
  width: 80%;
}
.aside-bar .similar-artists-container .similar-artists-list .dropdown-list a,
.aside-bar .similar-artists-container .similar-artists-list .dropdown-list a:visited {
  color: white;
  text-decoration: none;
}
.aside-bar .similar-artists-container .similar-artists-list .dropdown-icon {
  margin-left: 0.5rem;
}
.aside-bar .similar-artists-container .similar-artists-list .dropdown-icon input[type=checkbox] {
  display: none;
}
.aside-bar .similar-artists-container .similar-artists-list .fa-ellipsis-h {
  cursor: pointer;
}
.aside-bar .similar-artists-container .similar-artists-list .dropdown-icon input[type=checkbox]:checked + .dropdown-list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 110%;
  opacity: 1;
  padding: 5px;
}
.aside-bar .Recently-playlist-container {
  width: 100%;
  height: 55vh;
  overflow-y: hidden;
  flex-direction: column;
  position: relative;
}
.aside-bar .Recently-playlist-container .playlist-header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-inline: 0.5rem;
  background-color: #0c1027;
  color: white;
  height: 8vh;
  display: flex;
}
.aside-bar .Recently-playlist-container .playlist-header h2,
.aside-bar .Recently-playlist-container .playlist-header .queue-type {
  width: 100%;
  display: flex;
  align-items: center;
}
.aside-bar .Recently-playlist-container .playlist-header .queue-type {
  padding-inline: 0.5rem;
  position: relative;
  justify-content: flex-end;
}
.aside-bar .Recently-playlist-container .playlist-header .queue-type label {
  cursor: pointer;
}
.aside-bar .Recently-playlist-container .playlist-header .queue-type h3 {
  margin-right: 1.5rem;
}
.aside-bar .Recently-playlist-container .playlist-header .queue-type input[type=checkbox] {
  display: none;
}
.aside-bar .Recently-playlist-container .song-list {
  overflow-y: scroll;
  height: 41vh;
}
.aside-bar .Recently-playlist-container .song-list .song-items {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 8.4vh;
  margin-block: 0.75rem;
  flex-direction: row;
  box-sizing: border-box;
}
.aside-bar .Recently-playlist-container .song-list .song-items .song-num,
.aside-bar .Recently-playlist-container .song-list .song-items .album-art,
.aside-bar .Recently-playlist-container .song-list .song-items .song-title,
.aside-bar .Recently-playlist-container .song-list .song-items .like-marker {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside-bar .Recently-playlist-container .song-list .song-items .song-num,
.aside-bar .Recently-playlist-container .song-list .song-items .like-marker {
  text-align: center;
}
.aside-bar .Recently-playlist-container .song-list .song-items .album-art img {
  box-sizing: border-box;
  width: 8.4vh;
  height: 8.4vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.aside-bar .Recently-playlist-container .song-list .song-items .song-title {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  flex-grow: 1;
}
.aside-bar .Recently-playlist-container .song-list .song-items .like-marker {
  width: 3vw;
}
.aside-bar .Recently-playlist-container .song-list .song-items .song-num {
  position: relative;
  width: 3vw;
}
.aside-bar .Recently-playlist-container .song-list .song-items .song-num .play-icon {
  position: absolute;
  left: 1.1rem;
  display: none;
}
.aside-bar .Recently-playlist-container .song-list .song-items:hover .song-num span.play-icon {
  display: block;
}
.aside-bar .Recently-playlist-container .song-list .song-items:hover .song-num p {
  display: none;
}

.player-controls {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  height: 12vh;
  bottom: 0px;
  border: 1px solid black;
  background-color: white;
  width: 100%;
}
.player-controls .current-song-container {
  margin-left: 0.5rem;
  width: 25vw;
  border: 1px solid violet;
}
.player-controls .current-song-container .song-items {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 8.4vh;
  margin-block: 0.75rem;
  flex-direction: row;
  box-sizing: border-box;
}
.player-controls .current-song-container .song-items .song-num,
.player-controls .current-song-container .song-items .album-art,
.player-controls .current-song-container .song-items .song-title,
.player-controls .current-song-container .song-items .like-marker {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-controls .current-song-container .song-items .song-num,
.player-controls .current-song-container .song-items .like-marker {
  text-align: center;
}
.player-controls .current-song-container .song-items .album-art img {
  box-sizing: border-box;
  width: 8.4vh;
  height: 8.4vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.player-controls .current-song-container .song-items .song-title {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  flex-grow: 1;
}
.player-controls .current-song-container .song-items .like-marker {
  width: 3vw;
}
.player-controls #controls-progress-bar {
  display: flex;
  height: 100%;
  width: 60vw;
  align-items: center;
  border: 1px solid black;
  flex-direction: column;
}
.player-controls #controls-progress-bar #controls {
  display: flex;
  height: 2.5rem;
  width: 40%;
  justify-content: space-evenly;
}
.player-controls #controls-progress-bar #controls div {
  font-size: 1.2em;
  margin-block: auto;
}
.player-controls #controls-progress-bar #progress-bar {
  width: 60%;
  display: flex;
}
.player-controls #controls-progress-bar #progress-bar #seek-slider {
  flex-grow: 2;
}
.player-controls .vol-bar-control {
  width: 20vw;
  display: flex;
  height: 100%;
  border: 1px solid violet;
  justify-content: space-evenly;
  align-items: center;
}