.player-content {
  padding-top: 6.5rem !important;
}

.navbar {
  background-color: rgb(12, 16, 39);
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 1rem;
    img {
      height: 80%;
      margin-right: 0.5rem;
    }
    h4 {
      font-weight: 400;
      font-size: 1.25rem;
      font-family: serif;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  button {
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: auto;
    margin-left: 2rem;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 1rem;
  }
  .search-box {
    display: flex;
    align-items: center;
    max-width: 20rem;
    width: 30%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.25rem;
    background-color: rgb(32, 47, 133);
    cursor: pointer;
    input {
      width: 100%;
      border: none;
      font-family: sans-serif;
      padding: 0.25rem;
      background-color: rgb(32, 47, 133);
      color: white;
      font-size: 1rem;
      &::placeholder {
        color: white;
      }
    }
    img {
      height: 100%;
    }
  }
  .notification {
    margin-left: 2rem;
    height: 2rem;
    margin-right: 3rem;
    cursor: pointer;
  }
  .user {
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    height: 60%;
    cursor: pointer;
    img {
      object-fit: contain;
      height: 100%;
    }
  }
}
