:root {
  --site-font-family: helvetica, sans-serif;
  --site-font-primary: white;
  --site-font-secondary: rgb(185, 185, 185);
  --site-background-primary:rgb(7, 1, 48);
  --site-background-secondary:rgb(4, 37, 89);
  color:white;
  background-color: var(--site-background-primary);
}
.player-content {
  padding-top: 6.5rem !important;
}

.navbar {
  background-color: rgb(12, 16, 39);
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 1rem;
    img {
      height: 80%;
      margin-right: 0.5rem;
    }
    h4 {
      font-weight: 400;
      font-size: 1.25rem;
      font-family: serif;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  button {
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: auto;
    margin-left: 2rem;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 1rem;
  }
  .search-box {
    display: flex;
    align-items: center;
    max-width: 20rem;
    width: 30%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.25rem;
    background-color: rgb(32, 47, 133);
    cursor: pointer;
    input {
      width: 100%;
      border: none;
      font-family: sans-serif;
      padding: 0.25rem;
      background-color: rgb(32, 47, 133);
      color: white;
      font-size: 1rem;
      &::placeholder {
        color: white;
      }
    }
    img {
      height: 100%;
    }
  }
  .notification {
    margin-left: 2rem;
    height: 2rem;
    margin-right: 3rem;
    cursor: pointer;
  }
  .user {
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    height: 60%;
    cursor: pointer;
    img {
      object-fit: contain;
      height: 100%;
    }
  }
}
@mixin songItemStyle($itemsHeight) {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: $itemsHeight;
  margin-block: 0.75rem;
  flex-direction: row;
  box-sizing: border-box;
  .song-num,
  .album-art,
  .song-title,
  .like-marker {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .song-num,
  .like-marker {
    text-align: center;
  }

  .album-art {
    img {
      box-sizing: border-box;
      width: $itemsHeight;
      height: $itemsHeight;
      object-fit: contain;
    }
  }
  .song-title {
    padding-inline-start: 0.5rem;
    flex-grow: 1;
  }
  .like-marker {
    width: 3vw;
  }
}
// Bottom controls bar

.player-controls {
  display: flex;
  position: sticky;
  z-index: 100;
  height: 12vh;
  bottom:0px;
  border: 1px solid black;
  background-color: rgb(43, 43, 42);
  width: 100%;

  .current-song-container {
    flex-grow: 1;
    margin-left: 0.5rem;
    // width: 25vw;
    min-width: 20vw;

    .song-items {
      @include songItemStyle(8.4vh);
    }
  }
  #controls-progress-bar{
    display: flex;
    height: 100%;
    flex-grow: 4;
    // width: 60vw;
    min-width: 45vw;
    align-items: center;
    flex-direction: column;
    #controls{
      margin-top: .5rem;
      display: flex;
      height: 2.5rem;
      div{
        font-size: 1.2em;
        margin-block: auto;
      }
      width: 40%;
      min-width: 30vw;
      justify-content: space-evenly;
    }
    #progress-bar{
      width: 60%;
      min-width: 40vw;
      display: flex;
      
      #seek-slider{
        flex-grow: 2;
      }

    }
    

  }
  .vol-bar-control {
    flex-grow: 1;
    // width: 20vw;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    .queue, .device-type , .vol-control{
      width: 20%;
      text-align: center;
      // flex-grow: 2;
    }

    #vol-slider-container{
      // width: 100%;
      margin:5%;
      flex-grow: 1;
      #volume-slider{
        width: 100%;
      }
    }
    
  }
}
