:root {
  --site-font-family: helvetica, sans-serif;
  --site-font-primary: white;
  --site-font-secondary: rgb(185, 185, 185);
  --site-background-primary:rgb(7, 1, 48);
  --site-background-secondary:rgb(4, 37, 89);
  color: white;
  background-color: var(--site-background-primary);
}

.player-content {
  padding-top: 6.5rem !important;
}

.navbar {
  background-color: rgb(12, 16, 39);
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}
.navbar .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-inline: 1rem;
}
.navbar .logo img {
  height: 80%;
  margin-right: 0.5rem;
}
.navbar .logo h4 {
  font-weight: 400;
  font-size: 1.25rem;
  font-family: serif;
}
.navbar .logo h3 {
  font-size: 1.5rem;
}
.navbar button {
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: auto;
  margin-left: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1rem;
}
.navbar .search-box {
  display: flex;
  align-items: center;
  max-width: 20rem;
  width: 30%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.25rem;
  background-color: rgb(32, 47, 133);
  cursor: pointer;
}
.navbar .search-box input {
  width: 100%;
  border: none;
  font-family: sans-serif;
  padding: 0.25rem;
  background-color: rgb(32, 47, 133);
  color: white;
  font-size: 1rem;
}
.navbar .search-box input::-moz-placeholder {
  color: white;
}
.navbar .search-box input:-ms-input-placeholder {
  color: white;
}
.navbar .search-box input::placeholder {
  color: white;
}
.navbar .search-box img {
  height: 100%;
}
.navbar .notification {
  margin-left: 2rem;
  height: 2rem;
  margin-right: 3rem;
  cursor: pointer;
}
.navbar .user {
  background-color: grey;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  height: 60%;
  cursor: pointer;
}
.navbar .user img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.player-controls {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  height: 12vh;
  bottom: 0px;
  border: 1px solid black;
  background-color: rgb(43, 43, 42);
  width: 100%;
}
.player-controls .current-song-container {
  flex-grow: 1;
  margin-left: 0.5rem;
  min-width: 20vw;
}
.player-controls .current-song-container .song-items {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 8.4vh;
  margin-block: 0.75rem;
  flex-direction: row;
  box-sizing: border-box;
}
.player-controls .current-song-container .song-items .song-num,
.player-controls .current-song-container .song-items .album-art,
.player-controls .current-song-container .song-items .song-title,
.player-controls .current-song-container .song-items .like-marker {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-controls .current-song-container .song-items .song-num,
.player-controls .current-song-container .song-items .like-marker {
  text-align: center;
}
.player-controls .current-song-container .song-items .album-art img {
  box-sizing: border-box;
  width: 8.4vh;
  height: 8.4vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.player-controls .current-song-container .song-items .song-title {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  flex-grow: 1;
}
.player-controls .current-song-container .song-items .like-marker {
  width: 3vw;
}
.player-controls #controls-progress-bar {
  display: flex;
  height: 100%;
  flex-grow: 4;
  min-width: 45vw;
  align-items: center;
  flex-direction: column;
}
.player-controls #controls-progress-bar #controls {
  margin-top: 0.5rem;
  display: flex;
  height: 2.5rem;
  width: 40%;
  min-width: 30vw;
  justify-content: space-evenly;
}
.player-controls #controls-progress-bar #controls div {
  font-size: 1.2em;
  margin-block: auto;
}
.player-controls #controls-progress-bar #progress-bar {
  width: 60%;
  min-width: 40vw;
  display: flex;
}
.player-controls #controls-progress-bar #progress-bar #seek-slider {
  flex-grow: 2;
}
.player-controls .vol-bar-control {
  flex-grow: 1;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.player-controls .vol-bar-control .queue, .player-controls .vol-bar-control .device-type, .player-controls .vol-bar-control .vol-control {
  width: 20%;
  text-align: center;
}
.player-controls .vol-bar-control #vol-slider-container {
  margin: 5%;
  flex-grow: 1;
}
.player-controls .vol-bar-control #vol-slider-container #volume-slider {
  width: 100%;
}