:root {
  --site-font-family: helvetica, sans-serif;
  --site-font-primary: white;
  --site-font-secondary: rgb(185, 185, 185);
  --site-background-primary:rgb(7, 1, 48);
  --site-background-secondary:rgb(4, 37, 89);
  color: white;
  background-color: var(--site-background-primary);
}

.playlist-container {
  overflow: hidden;
}
.playlist-container .playlist-header {
  width: 100%;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-inline: 0.5rem;
  background-color: #0c1027;
  color: white;
  display: flex;
}
.playlist-container .playlist-header h2,
.playlist-container .playlist-header .queue-type {
  width: 100%;
  display: flex;
  align-items: center;
}
.playlist-container .playlist-header .queue-type {
  padding-inline: 0.5rem;
  position: relative;
  justify-content: flex-end;
}
.playlist-container .playlist-header .queue-type label {
  cursor: pointer;
}
.playlist-container .playlist-header .queue-type h3 {
  margin-right: 1.5rem;
}
.playlist-container .playlist-header .queue-type input[type=checkbox] {
  display: none;
}
.playlist-container .playlist-header .queue-type input[type=checkbox]:checked ~ .queue-type-list {
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
}
.playlist-container .playlist-header .queue-type input[type=checkbox]:checked ~ .queue-type-list p {
  cursor: pointer;
}
.playlist-container .playlist-header .queue-type .queue-type-list {
  position: absolute;
  top: 3.25rem;
  background-color: white;
  display: flex;
  height: 0;
  flex-direction: column;
  width: 0;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  color: black !important;
  border: 1px solid black;
}
.playlist-container .playlist-header .queue-type .queue-type-list p {
  margin: 0.5rem 0.75rem;
}
.playlist-container .playlist-header .queue-type .queue-type-list hr {
  margin-inline: 0.25rem;
  flex-grow: 1;
}
.playlist-container .song-list {
  overflow-y: scroll;
  height: 70vh;
  width: 100%;
  background-color: var(--site-background-primary);
}
.playlist-container .song-list .song-items {
  background-color: var(--site-background-secondary);
  width: 100%;
  display: flex;
  cursor: pointer;
  height: 80px;
  margin-block: 0.75rem;
  flex-direction: row;
  box-sizing: border-box;
}
.playlist-container .song-list .song-items .song-num,
.playlist-container .song-list .song-items .album-art,
.playlist-container .song-list .song-items .song-title,
.playlist-container .song-list .song-items .like-marker {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playlist-container .song-list .song-items .song-num,
.playlist-container .song-list .song-items .like-marker {
  text-align: center;
}
.playlist-container .song-list .song-items .song-num {
  position: relative;
  width: 3vw;
}
.playlist-container .song-list .song-items .song-num .play-icon {
  position: absolute;
  left: 1.1rem;
  display: none;
}
.playlist-container .song-list .song-items .album-art img {
  box-sizing: border-box;
  width: 80px;
  height: 79px;
  -o-object-fit: contain;
     object-fit: contain;
}
.playlist-container .song-list .song-items .song-title {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  flex-grow: 1;
}
.playlist-container .song-list .song-items .song-title .artist-name {
  color: var(--site-font-secondary);
  font-size: 0.9rem;
}
.playlist-container .song-list .song-items .song-title .title-name {
  color: var(--site-font-primary);
}
.playlist-container .song-list .song-items .like-marker {
  width: 3vw;
}
.playlist-container .song-list .song-items:hover .song-num span.play-icon {
  display: block;
}
.playlist-container .song-list .song-items:hover .song-num p {
  display: none;
}